<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BudgetingApp.Properties.Settings.buget_dbConnectionString"
            connectionString="Data Source=DIRKIE_DEV_PC\DIRKIESQL;Initial Catalog=buget_db;Persist Security Info=True;User ID=sa;Password=dirkie"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>